.Explore-container{
    background: url('../../Resources/Images/ExploreBackgroundImage.png') scroll no-repeat;
    height: 86vh;
    text-align: center;
    margin-top: -282px;
    clip-path: polygon(0 25%, 100%  12.5%, 100% 100%, 0% 100%);
    p{
        color: black;
        font-size: 100px;
        font-weight: 400;
        position: relative;
        top: 110px;
        left: 0px;
        z-index: 99;
    }
    .subheader-row{
        p{
            margin-top: -30px;
            font-size: 18px;
        }
    }
    .logos{
        margin-top: 110px;
       
        img{
            width: 62px;
            height: 68px;
        }
    }
    button{
        margin-top: 10px;
        background-color: transparent;
        border: 1px solid black;
        &:hover{
            cursor: pointer;
            border: 1px solid black;
            color: white;
            background-color: black;
        }
    }
//for mid pc/laptops
@media (max-width: 1600px){
    height: 110vh;
    clip-path: polygon(0 28%, 100%  13%, 100% 100%, 0% 100%);
    @media (max-width: 1440px){

        @media (max-width: 1280px){

         }
    }
}
}